<body class="body">
<header class="header">
        <div class="container">
            <div class="links-wrapper">
                <a href="/index.html">Main</a>
                <a href="/pages/page">Page1</a>
                <a href="/pages/page1">Page2</a>
                <a href="/pages/page2">Page3</a>
            </div>
        </div>
</header>
